@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

html {
  font-size: 10px;
}

body {
  font-size: 1rem;
}

:root {
  --main-bg-color: brown;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: #0f2c59;
  align-items: center;
}

.header__title {
  color: #dac0a3;
  font-weight: bold;
}

.header__button {
  background-color: #dac0a3;
  color: #0f2c59;
  font-weight: bold;
  border-radius: 0.2rem;
  padding: 0.375rem 0.75rem;
}

.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.auth-body form {
  width: 50vw;
  max-width: 25rem;
}

.auth-body form .submit-button {
  width: 100%;
  background-color: #0f2c59;
  color: #dac0a3;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
}

.input {
  width: 100%;
  border-radius: 0.25rem !important;
  border-color: #dac0a3;
  color: #0f2c59;
}

.form-binding-wrapper {
  margin-bottom: 0.75rem;
}

.form-binding-error {
  display: block;
  color: #d14d72;
  padding-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.message {
  padding: 1rem;
}

.main-body {
  height: 100vh;
  background-color: #dac0a3;
  width: 100%;
  padding: 2rem;
}

.main-sidebar {
  background: #0f2c59;
  padding: 1rem;
  height: 100vh;
  min-width: 20rem;
}

.main-sidebar__chat {
  padding: 0.5rem 0rem;
  color: #dac0a3;
  font-weight: bold;
  cursor: pointer;
}

.logout_container {
  margin-top: auto;
}

.chat {
  height: 100%;
}

.chat_messages {
  height: calc(100vh - 10rem);
  overflow-y: scroll;
}

.chat_message-form {
  height: 10rem;
}

.chat_message-form textarea {
  width: 100%;
}

.create_chat_form_title,
.chat_list_title {
  color: #dac0a3;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#create_chat_form {
  margin-bottom: 1.5rem;
}

#create_chat_form button,
.main-sidebar__chat,
.logout_container button {
  width: 100%;
  background-color: #dac0a3;
  color: #0f2c59;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.message-form {
  margin-top: auto;
  display: block;
}

.message {
  background-color: #0f2c59;
  color: #dac0a3;
  margin-bottom: 2rem;
  border-radius: 10px;
}
