@import "tailwindcss/base";
@import "../../deps/petal_components/assets/default.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

html {
  font-size: 16px;
}

.pc-text-input {
  @apply bg-gray-50 text-gray-800;
}

body {
  font-size: 1rem;
}

:root {
  --main-bg-color: brown;
}

:not(.phx-no-feedback).pc-form-field-wrapper--error .pc-label,
:not(.phx-no-feedback).pc-form-field-wrapper--error .pc-checkbox-label {
  @apply text-neutral-600 !important;
}

:not(.phx-no-feedback).pc-form-field-wrapper--error input,
:not(.phx-no-feedback).pc-form-field-wrapper--error select,
:not(.phx-no-feedback).pc-form-field-wrapper--error textarea {
  @apply bg-white text-neutral-600 !important;
}

:not(.phx-no-feedback).pc-form-field-wrapper--error input::placeholder,
:not(.phx-no-feedback).pc-form-field-wrapper--error select::placeholder,
:not(.phx-no-feedback).pc-form-field-wrapper--error textarea::placeholder {
  @apply text-neutral-600 !important;
}

.pc-form-field-error {
  @apply font-bold !important;
}
